body {
    background-color: rgb(224, 224, 224);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(85, 85, 85);
    font-size: 40px;
    margin-top: 25px;
    margin-left: 125px;
}

h2 {
    color: rgb(85, 85, 85);
    font-size: 25px;
    margin-left: 125px;
}

h3 {
    color: white;
    font-size: 20px;
    margin-left: 125px;
    margin-right: 125px;
    margin-top: 50px;
    padding: 10px;
    background-color: #ff5454;
}

.text {
    line-height: 20px;
    color: rgb(85, 85, 85);
    padding: 10px;
    margin-left: 125px;
}

.download-link {
    line-height: 30px;
    color: rgb(85, 85, 85);
    padding: 10px;
    margin-left: 125px;
}

.topnav {
    background-color: rgb(85, 85, 85);
    overflow: hidden;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .dropdown {
    float: right;
    overflow: hidden;
}

.topnav .dropdown .dropbtn {
    background-color: rgb(85, 85, 85);
    color: white;
    border: none;
    outline: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0px;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: #ff5454;
    color: white;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown_content a {
    float: none;
    color: rgb(85, 85, 85);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin-right: 10px;
}

.dropdown_content a:hover {
    background-color: #ff5454;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.empty {
    margin-bottom: 75px;
}

footer {
    background-color: rgb(85, 85, 85);
    padding-top: 5px;
    padding-bottom: 30px;
    margin-bottom: 0px;
    width: 100%;

}

.footer-content p {
    margin-left: 125px;
    margin-right: 125px;
    color: white;
}

.footer-content a {
    margin-left: 125px;
    margin-right: 125px;
    color: white;
    line-height: 30px;
}